body {
	background-image: url(../images/e169a2b7dc3a1ca15ac02b4a68232392.png);
	font-family: 'Cairo', sans-serif;
	margin: 0px;
}
.header{
	width:100%;
	background-color: #00b08b;
	height: 300px;
	margin-top: 0px;
	display: flex;
	justify-content:center;
	align-items: center;
	color: #0C1829;
}
.popup{
	width:63%;
	height:60%;
	background-color:#FFFFFF;
	position:absolute;
	left: 50%;
	top: 30%;
	transform: translateX(-50%);
	padding: 30px 20px;
	padding-top: 10px;
}
.con_btn{
	position: absolute;
  left: 50%;
  margin-left: -170px;
}
.btn{
	border:none;
	background-color:#5C6A8D;
	color:white;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 3px 10px #222;
  transition: .6s;
	width:140px;
	height:40px;
	margin-left: 20px;
}
.btn:hover{
	background-color: #2E4566;
	position: relative;
  top: 2px;
}
