section{
  width: 80%;
  height: 100vh;
  float: left;
  display: flex;
  align-items: center;
}
@media (max-width: 922px) {
  section{
    width: 100%;
  }
}
section form{
  height: 70%;
  width: 60%;
  margin-right: 40px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  align-content: space-around;
  background-color: #fff;
  padding: 30px;
}
section form input, section form textarea{
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #ddd;
}
section form textarea{
  max-width: 80%;
  min-width: 80%;
  min-height: 150px;
  max-height: 150px;
}
section form [type="submit"]{
  width: fit-content;
  padding: 10px 35px;
  cursor: pointer;
  transition: .6s;
}
section form [type="submit"]:hover{
  color: #fff;
  background-color: #33f;
}
.contact{
  height: 50%;
  background-color: #222;
  color: #fff;
  padding: 30px;
  border-radius: 10%;
  position: relative;
  left: 100px;
}
@media (max-width: 1024px) {
  section{
    padding: 0px 40px;
    justify-content: center;
  }
  .contact{
    height: fit-content;
    padding-bottom: 80px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
  }
  section form{
    height: 50%;
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 707px) {

  .contact{
    position: absolute;
    bottom: -8%;
  }
}
#saveds{
  padding: 10px 60px;
  background-color: #9f9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
