section{
  width: 80%;
  height: fit-content;
  float: left;
}
@media (max-width: 768px) {
  section{
    width: 100%;
  }
}
section h1{
  width: fit-content;
  height: fit-content;
  padding: 20px 40px;
  background-color: #F2F2F2;
  color: #245580;
  border-radius: 30%;
  box-shadow: 5px 5px 15px 5px #000;
  margin: 40px auto;
}
@media (max-width: 768px){
  section h1 {
    font-size: 20px;
  }
}
section p, section div{
  padding: 30px;
  line-height: 2em;
  background-color: #fff8;
  font-size: 18px;
}
hr{
  width: 40%;
  margin: 20px;
}
section ol{
  margin-right: 60px;
}
section:last-of-type{
  margin-bottom: 100px;
}
section li{
  list-style-type: decimal;
  line-height: 2em;
}
[id*="hadith"]{
  position: relative;
  color: #66f;
  cursor: pointer;
}
[id*="hadith"]:hover{
  color: #f66;
}
#hadith1:hover::after, #hadith1:hover::before{
  display: block;
}
#hadith1::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  display: none;
  z-index: 1;
}
#hadith1::after{
  content: 'أنَّ أعْرَابِيًّا جَاءَ إلى رَسولِ اللَّهِ صَلَّى اللهُ عليه وسلَّمَ ثَائِرَ الرَّأْسِ، فَقالَ: يا رَسولَ اللَّهِ أخْبِرْنِي مَاذَا فَرَضَ اللَّهُ عَلَيَّ مِنَ الصَّلَاةِ؟ فَقالَ: الصَّلَوَاتِ الخَمْسَ إلَّا أنْ تَطَّوَّعَ شيئًا، فَقالَ: أخْبِرْنِي ما فَرَضَ اللَّهُ عَلَيَّ مِنَ الصِّيَامِ؟ فَقالَ: شَهْرَ رَمَضَانَ إلَّا أنْ تَطَّوَّعَ شيئًا، فَقالَ: أخْبِرْنِي بما فَرَضَ اللَّهُ عَلَيَّ مِنَ الزَّكَاةِ؟ فَقالَ: فأخْبَرَهُ رَسولُ اللَّهِ صَلَّى اللهُ عليه وسلَّمَ شَرَائِعَ الإسْلَامِ، قالَ: والذي أكْرَمَكَ، لا أتَطَوَّعُ شيئًا، ولَا أنْقُصُ ممَّا فَرَضَ اللَّهُ عَلَيَّ شيئًا، فَقالَ رَسولُ اللَّهِ صَلَّى اللهُ عليه وسلَّمَ أفْلَحَ إنْ صَدَقَ، أوْ دَخَلَ الجَنَّةَ إنْ صَدَقَ.' ;
  white-space: pre-wrap;
  width: 60vw;
  height: fit-content;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  color: #000;
  position: absolute;
  top: 40px;
  right: -25vw;
  display: none;
  z-index: 1;
}
#hadith2:hover::after, #hadith2:hover::before{
  display: block;
}
#hadith2::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  display: none;
  z-index: 1;
}
#hadith2::after{
  content: 'نُهِينا أنْ نَسْأَلَ رَسولَ اللهِ صَلَّى اللَّهُ عليه وسلَّمَ عن شيءٍ، فَكانَ يُعْجِبُنا أنْ يَجِيءَ الرَّجُلُ مِن أهْلِ البادِيَةِ العاقِلُ، فَيَسْأَلَهُ، ونَحْنُ نَسْمَعُ، فَجاءَ رَجُلٌ مِن أهْلِ البادِيَةِ، فقالَ: يا مُحَمَّدُ، أتانا رَسولُكَ فَزَعَمَ لنا أنَّكَ تَزْعُمُ أنَّ اللَّهَ أرْسَلَكَ، قالَ: صَدَقَ، قالَ: فمَن خَلَقَ السَّماءَ؟ قالَ: اللَّهُ، قالَ: فمَن خَلَقَ الأرْضَ؟ قالَ: اللَّهُ، قالَ: فمَن نَصَبَ هذِه الجِبالَ، وجَعَلَ فيها ما جَعَلَ؟ قالَ: اللَّهُ، قالَ: فَبِالَّذِي خَلَقَ السَّماءَ، وخَلَقَ الأرْضَ، ونَصَبَ هذِه الجِبالَ، آللَّهُ أرْسَلَكَ؟ قالَ: نَعَمْ، قالَ: وزَعَمَ رَسولُكَ أنَّ عليْنا خَمْسَ صَلَواتٍ في يَومِنا، ولَيْلَتِنا، قالَ: صَدَقَ، قالَ: فَبِالَّذِي أرْسَلَكَ، آللَّهُ أمَرَكَ بهذا؟ قالَ: نَعَمْ، قالَ: وزَعَمَ رَسولُكَ أنَّ عليْنا زَكاةً في أمْوالِنا، قالَ: صَدَقَ، قالَ: فَبِالَّذِي أرْسَلَكَ، آللَّهُ أمَرَكَ بهذا؟ قالَ: نَعَمْ، قالَ: وزَعَمَ رَسولُكَ أنَّ عليْنا صَوْمَ شَهْرِ رَمَضانَ في سَنَتِنا، قالَ: صَدَقَ، قالَ: فَبِالَّذِي أرْسَلَكَ، آللَّهُ أمَرَكَ بهذا؟ قالَ: نَعَمْ، قالَ: وزَعَمَ رَسولُكَ أنَّ عليْنا حَجَّ البَيْتِ مَنِ اسْتَطاعَ إلَيْهِ سَبِيلًا، قالَ: صَدَقَ، قالَ: ثُمَّ ولَّى، قالَ: والذي بَعَثَكَ بالحَقِّ، لا أزِيدُ عليهنَّ، ولا أنْقُصُ منهنَّ، فقالَ النبيُّ صَلَّى اللَّهُ عليه وسلَّمَ: لَئِنْ صَدَقَ لَيَدْخُلَنَّ الجَنَّةَ.';
  width: 60vw;
  height: fit-content;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  color: #000;
  position: absolute;
  top: 40px;
  right: -45vw;
  display: none;
  z-index: 1;
}
#hadith3:hover::after, #hadith3:hover::before{
  display: block;
}
#hadith3::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  display: none;
  z-index: 1;
}
#hadith3::after{
  content: 'مروا أولادكم بالصلاة لسبع، واضربوهم عليها لعشر، وفَرِّقوا بينهم في المضاجع';
  width: 60vw;
  height: fit-content;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  color: #000;
  position: absolute;
  top: 40px;
  right: -50vw;
  display: none;
  z-index: 1;
}
#hadith4:hover::after, #hadith4:hover::before{
  display: block;
}
#hadith4::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  display: none;
  z-index: 1;
}
#hadith4::after{
  content: 'أنَّ النبيَّ جاء جبريلُ عليهِ السلامُ فقال : قمْ فصلِّه ، فصلَّى الظهرَ حينَ زالت الشمسُ ، ثم جاء العصرُ فقال ، قمْ فصلِّه فصلَّى العصرَ حينَ صار ظِلُّ كلِّ شيٍء مثلَه ، ثم جاءه المغربَ فقال قمْ فصلِّ فصلَّى المغربَ حينَ وجبت الشمسُ ، ثم جاءه العشاءَ فقال قمْ فصلِّ فصلَّى العشاءَ حينَ غاب الشفقُ ، ثم جاءه الفجرَ فقال قمْ فصلِّ فصلَّى الفجرَ حينَ بَرَقَ الفجرُ أو قال : سطعَ الفجرُ ، ثم جاء من الغد للظهرِ فقال : قمْ فصلِّه فصلَّى الظهرَ حينَ صار ظِلُّ كلِّ شيٍء مثلَه ، ثم جاءه العصرَ حينَ صار ظِلُّ كلِّ شيٍء مثليْه ، ثم جاءه المغربَ وقتًا واحدًا لم يَزُلْ عنه ، ثم جاء حين أَسْفَرَ جدًّا ، فقال له : قمْ فصلِّه ، فصلَّى الفجرَ ثم قال : ما بينَ هذينِ وَقْتٌ';
  width: 60vw;
  height: fit-content;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  color: #000;
  position: absolute;
  top: 40px;
  right: -25vw;
  display: none;
  z-index: 1;
}
#hadith5:hover::after, #hadith5:hover::before{
  display: block;
}
#hadith5::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  display: none;
  z-index: 1;
}
#hadith5::after{
  content: 'سَأَلْنَا جَابِرَ بنَ عبدِ اللَّهِ عَنِ الصَّلَاةِ في الثَّوْبِ الوَاحِدِ، فَقَالَ: خَرَجْتُ مع النبيِّ صَلَّى اللهُ عليه وسلَّمَ في بَعْضِ أسْفَارِهِ، فَجِئْتُ لَيْلَةً لِبَعْضِ أمْرِي، فَوَجَدْتُهُ يُصَلِّي، وعَلَيَّ ثَوْبٌ واحِدٌ، فَاشْتَمَلْتُ به وصَلَّيْتُ إلى جَانِبِهِ، فَلَمَّا انْصَرَفَ قَالَ: ما السُّرَى يا جَابِرُ فأخْبَرْتُهُ بحَاجَتِي، فَلَمَّا فَرَغْتُ قَالَ: ما هذا الِاشْتِمَالُ الذي رَأَيْتُ، قُلتُ: كانَ ثَوْبٌ - يَعْنِي ضَاقَ - قَالَ: فإنْ كانَ واسِعًا فَالْتَحِفْ به، وإنْ كانَ ضَيِّقًا فَاتَّزِرْ بهِ.';
  width: 60vw;
  height: fit-content;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  color: #000;
  position: absolute;
  top: 40px;
  right: -20vw;
  display: none;
  z-index: 1;
}
span {
  color: rgb(47, 110, 112);
}
span.dif {
  color: rgb(151, 98, 28);
}

ol {
  color:rgb(78, 7, 46);
}
h1 {
  color: rgb(189, 146, 7);
}
.arrows{
  background-color: transparent;
  text-align: center;
}
.arrows i {
  font-size: 30px;
  padding: 15px;
  transition: .3s;
}
.arrows i:hover{
  color: #008826;
  cursor: pointer;
}
#unactive{
  opacity: .3;
  color: inherit;
}
