/* start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
/* start variables  */
/* :root {
    
} */
 /* end variables  */
body {
    background-image: url(../images/e169a2b7dc3a1ca15ac02b4a68232392.png);
    font-family: 'Cairo', sans-serif;
}
@media (min-width: "768px") {
    .container {
        width: "768px";
    }
}
/* medium screen */
@media (min-width: "992px") {
    .container {
        width: "992px";
    }
}
/* large screen */
@media (min-width: "1200px") {
    .container {
        width: "1200px";
    }
}
/* End Global Rules */