section{
  width: 80%;
  height: fit-content;
  padding-left: 65px;
  float: left;
}
section h1{
  color: #000;
  padding: 30px;
}
section div{
  float: left;
  margin: 30px;
  background-color: #99f;
  border-radius: 20px;
}
section video{
  width: 300px;
  height: 300px;
}
h3{
  width: fit-content;
  transform: translateY(30px);
  margin: auto;
}
